
:root{
   --white : #fff;
   --black : #ffffff;
   --dark-blue : #2C2546;
   --pink : #fa0758;
   --grape : #8234af;
   --slate : #00000043;
   --slate-500 : #ffffff;
   --blue : #c84ac850;
}
*,
*::before,
*::after {
   list-style-type: none;
   text-decoration: none;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Tahoma';
}
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-color: #000000;
 }
 .preloader .loading {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   font: 14px arial;
 }

body {
   margin: 0;
   padding: 0;
   background: linear-gradient(45deg,#4000ff,#000000, #e003b8 );
   background-size: 300% 300%;
   animation: color 5s ease-in-out infinite;
   
}
@keyframes color{
 0%{ 
    background-position: 0 50%;
 }
 50%{
    background-position: 100% 50%;
 }
 100%{
   background-position: 0 50%;
   
 }
 
    
 
}
.wrappers {
   margin: auto;
   margin-top: auto;
   position: relative;
   max-width: 470px;
   width: 100%;
   border-radius: 12px;
   padding: 20px
     30px
     120px;
     
     background-image: linear-gradient(to right,var(--grape),var(--pink));
     border-radius: 5px;
   box-shadow: 0
     5px
     10px
     rgba(
       0,
       0,
       0,
       0.1
     );
   overflow: hidden;
   
 }
 .form.login {
   position: absolute;
   left: 50%;
   bottom: -86%;
   transform: translateX(
     -50%
   );
   width: calc(
     100% +
       220px
   );
   padding: 20px
     140px;
   border-radius: 50%;
   height: 100%;
   background: #ffffff;
   transition: all
     0.6s
     ease;
 }
 .wrappers.active
   .form.login {
   bottom: -15%;
   border-radius: 35%;
   box-shadow: 0 -5px
     10px rgba(0, 0, 0, 0.1);
 }
 .form
   header {
   font-size: 30px;
   text-align: center;
   color: #fff;
   font-weight: 600;
   cursor: pointer;
   
 }
 .form.login
   header {
   color: #070707;
   opacity: 0.6;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .wrappers.active
   .form.login
   header {
   opacity: 1;
 }
 .wrappers.active
   .signup
   header {
   opacity: 0.6;
 }
 .wrappers
   form {
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-top: 40px;
 }
 form
   input {
   height: 60px;
   outline: none;
   border: none;
   padding: 0
     15px;
   font-size: 16px;
   font-weight: 400;
   color: #272626;
   border-radius: 8px;
   background: #fff7ff99;
   
 }
 .form.login
   input {
   border: 1px
     solid
     #aaa;
 }
 .form.login
   input:focus {
   box-shadow: 0
     1px 0
     #ddd;
 }
 form
   .checkbox {
   display: flex;
   align-items: center;
   gap: 10px;
 }
 .checkbox
   input[type="checkbox"] {
   height: 16px;
   width: 16px;
   accent-color: #fff;
   cursor: pointer;
 }
 form
   .checkbox
   label {
   cursor: pointer;
   color: #fff;
 }
 form a {
   color: #ffffff;
   text-decoration: none;
 }
 form
   a:hover {
   text-decoration: underline;
 }
 form
   input[type="submit"] {
   margin-top: 15px;
   padding: none;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
 }
 form
 input[type="cancel"] {
 margin-top: 1px;
 padding: none;
 font-size: 18px;
 font-weight: 500;
 cursor: pointer;
 text-align: center;
}
 .form.login
   input[type="submit"] {
   background-image: linear-gradient(to right,var(--grape),var(--pink));
   border-radius: 5px;
   color: #fff;
   border: none;
   color: #fffefe;

 }
 .form.login
 input[type="cancel"] {
 background: #8234af8f;
 color: #fff;
 border: none;
 text-align: center;
 color: #000;
}

.modal {
   display: none;
   position: fixed; 
   z-index: 1; 
   left: 0;
   top: 0;
   width: 100%;
   height: 100%; 
   overflow: auto;
   padding-top: 50px;
   background-color: #430e0e9e;
 }
.loader_bg{
   position: fixed;
   z-index: 999999;
   background: #022080;
   width: 100%;
   height: 100%;
}
.loader{
   border: 0 soild transparent;
   border-radius: 50%;
   width: 150px;
   height: 150px;
   position: absolute;
   top: calc(50vh - 75px);
   left: calc(50vw - 75px);
}
.loader:before, .loader:after{
   content: '';
   border: 1em solid #dfa02c;
   border-radius: 50%;
   width: inherit;
   height: inherit;
   position: absolute;
   top: 0;
   left: 0;
   animation: loader 2s linear infinite;
   opacity: 0;
}
.loader:before{
   animation-delay: .5s;
}
@keyframes loader{
   0%{
       transform: scale(0);
       opacity: 0;
   }
   50%{
       opacity: 1;
   }
   100%{
       transform: scale(1);
       opacity: 0;
   }
}


.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0;
   z-index: 999;
   width: 100%;
   background-color: var(--blue);
   padding-bottom: 2%;
}
.textlogo{
  display: inline;
  color : var(--white);
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10rem;
}
.wrap {
   max-width: 1100px;
   margin: auto;
   padding-left: 2rem;
   padding-right: 2rem;
}
.left-header {
   display: flex;
   margin-right: 6rem;
}
.search {
   margin: 0px 10px 20px;
}
.search-input {
   width: 120%;
   padding: 30%;
   border: none;
   
   background-color: var(--slate);
}
.navbar  ul {
   display: flex;
}
.navbar  ul  li  a {
   display: inline-block;
   flex-direction: column;
   padding: 1.5px;
   min-width: 85px;
   color: var(--white);
}
.login-btn {
   background-image: linear-gradient(to right,var(--grape),var(--pink));
   border-radius: 5px;
}
.swiper {
   width: 80%;
   margin: 5rem;
   height: 50vh;
}
.swiper-slide  img {
   width: 100%;
   
}
.content {
   margin-top: -20%;
   margin-bottom: 5%;
}
.content  ul  li {
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   border-radius: 999px;
   border: 1px solid var(--slate-500);
   padding: 2%;
   margin-top: 10px;
}
.content  ul  li  a {
   font-size: 10pt;
   color: var(--slate-500);
}
ul  li.active  a {
   color: var(--white);
}


@media screen and (min-width:320px){
  .search-input {
     margin-left: 10px;
     width: 80%;
     padding: 3%;
     border: none;
     border-radius: 20px;
     background-color: var(--slate);
     color: var(--white);
 }
  .left-header > a > img {
     width: 3em;
     margin-top: 7px;
     margin-right: 1%;
  }
}
@media screen and (min-width:350px){
  .search-input {
     margin-left: 10px;
     width: 100%;
     padding: 3%;
     border: none;
     border-radius: 20px;
     background-color: var(--slate);
     color: var(--white);
 }
}


@media screen and (max-width:724px) {
  .swiper {
     width: 100%;
     margin: 6.5rem;
     height: 15vh;
  }
  .swiper-slide img {
     width: 100%;
     
  }
  .game__grid {
     position: relative;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 0.5rem;
     font-size: 10pt;
  }
  .game img {
     width: 100%;
     transform: skewX(-10deg);
  }
  .product-title {
     position: absolute;
     margin-top: -2rem;
     color: var(--white);
     background-image: linear-gradient(to right,var(--pink),var(--grape),var(--blue));
     opacity: .7;
     width: 33vw;
     padding: 5px;
     transform: skew(-10deg);
  }
  .mlbb-img:hover:hover,
  .lol-img:hover,
  .ff-img:hover,
  .pubgm-img:hover,
  .codm-img:hover,
  .valo-img:hover,
  .genshin-img:hover,
  .aov-img:hover,
  .roblox-img:hover,
  .coc-img:hover,
  .growtopia-img:hover
  .pb-img:hover,
  .iqiyi-img:hover,
  .bstasion-img:hover,
  .vidio-img:hover,
  .viu-img:hover {
     filter: blur(.8px);
  }
  footer {
     width: 100%;
     background-color: var(--blue);
     margin-top: 1.5rem;
     padding: .5rem 0;
  }
  
  .footer-title {
     margin-bottom: 1rem;
     margin-top: 2rem;
     font-weight: 600;
     border-radius: 5px;
     color: #ffffff;
  }
  footer  ul  li  a {
     color: var(--white);
  }
  footer  ul  li  a:hover {
     color: var(--slate-500);
  }
  .payment {
     display: flex;
     gap: 0.5rem;
  }
  .payment  img {
     border-radius: .3rem;
     width: 3.5rem;
  }
  .copy {
     background-color: var(--blue);
     padding: 1rem;
  }
  .copyright {
     color: var(--slate-500);
  }
  .sosmed {
     display: flex;
     gap: 1rem;
  }
  .sosmed  a {
     color: var(--slate-500);
  }
  .sosmed  a:hover {
     color: var(--white);
  }
}

@media screen and (min-width:724px) {
  .swiper {
     width: 100%;
     margin-top: 8rem;
     height: 25vh;
  }
  .swiper-slide  img {
     width: 100%;
     
  }
  .content {
     margin-top: -5rem;
     margin-bottom: 1rem;
  }
  .content  ul  li {
     display: inline-flex;
     flex-direction: column;
     align-items: center;
     border-radius: 999px;
     border: 1px solid var(--slate-500);
     padding: 10px;
     margin-top: 15px;
  }
  .game__grid {
     position: relative;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 0.5rem;
     font-size: 10pt;
  }
  .game  img {
     width: 100%;
     transform: skewX(-10deg);
  }
  .product-title {
     position: absolute;
     margin-top: -2rem;
     color: var(--white);
     background-image: linear-gradient(to right,var(--blue),var(--grape),var(--pink));
     opacity: 0.7;
     width: 27vw;
     padding: 5px;
     transform: skew(-10deg);
  }
   
  .mlbb-img:hover,
  .lol-img:hover,
  .ff-img:hover,
  .pubgm-img:hover,
  .codm-img:hover,
  .valo-img:hover,
  .genshin-img:hover,
  .aov-img:hover,
  .roblox-img:hover,
  .coc-img:hover,
  .growtopia-img:hover,
  .pb-img:hover,
  .honkai-img:hover,
  .aspalt-img:hover,
  .lifeafter-img:hover,
  .zepeto-img:hover,
  .iqiyi-img:hover,
  .bstasion-img:hover,
  .vidio-img:hover,
  .viu-img:hover {
     filter: blur(.6px);
  }
  footer {
     width: 100%;
     background-color: var(--blue);
     margin-top: 1.5rem;
     padding: .5rem 0;
  }
  .footer-title {
     margin-bottom: 1rem;
     margin-top: 2rem;
     font-weight: 600;
     border-radius: 5px;
    
  }
  footer  ul  li  a { color: var(--white); }
  footer  ul  li  a:hover { color: var(--slate-500); }
  .payment {
     display: flex;
     gap: 0.5rem;
  }
  .payment  img {
     border-radius: 5px;
     width: 100px;
  }
  .copy {
     background-color: var(--blue);
     padding: 1rem;
  }
  .copyright{ color: var(--slate-500); }
  .sosmed{
     display: flex;
     gap: 1rem;
  }
  .sosmed a { color: var(--slate-500); }
  .sosmed a:hover { color: var(--white); }
}

@media screen and (min-width:860px) {
   .swiper {
       width: 100%;
       margin-top: 8rem;
       height: 30vh;
   }
   .swiper-slide  img {
       width: 100%;
       
   }
   .content {
       margin-top: -5rem;
       margin-bottom: 1rem;
   }
   .content  ul  li {
       display: inline-flex;
       flex-direction: column;
       align-items: center;
       border-radius: 999px;
       border: 1px solid var(--slate-500);
       padding: 10px;
       margin-top: 15px;
   }
   .game__grid {
       position: relative;
       display: grid;
       grid-template-columns: repeat(3,1fr);
       gap: 0.5rem;
       font-size: 10pt;
   }
   .game  img{
       width: 100%;
       transform: skewX(-10deg);
   }
   .product-title {
       position: absolute;
       margin-top: -2rem;
       color: var(--white);
       background-image: linear-gradient(to right,var(--blue),var(--grape),var(--pink));
       opacity: 0.7;
       width: 27vw;
       padding: 5px;
       transform: skew(-10deg);
   }
   .mlbb-img:hover,
   .lol-img:hover,
   .ff-img:hover,
   .pubgm-img:hover,
   .codm-img:hover,
   .valo-img:hover,
   .genshin-img:hover,
   .aov-img:hover,
   .roblox-img:hover,
   .coc-img:hover,
   .growtopia-img:hover,
   .pb-img:hover,
   .honkai-img:hover,
   .aspalt-img:hover,
   .lifeafter-img:hover,
   .zepeto-img:hover,
   .iqiyi-img:hover,
   .bstasion-img:hover,
   .vidio-img:hover,
   .viu-img:hover {
      filter: blur(.6px);
   }
     footer {
        width: 100%;
        background-color: var(--blue);
        margin-top: 1.5rem;
        padding: .5rem 0;
     }
     .footer-title {
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-weight: 600;
        border-radius: 5px;
     }
     footer  ul  li  a { color: var(--white); }
     footer  ul  li  a:hover { color: var(--slate-500); }
     .payment {
        display: flex;
        gap: 0.5rem;
     }
     .payment  img {
        border-radius: 5px;
        width: 100px;
     }
     .copy {
        background-color: var(--blue);
        padding: 1rem;
     }
     .copyright { color: var(--slate-500); }
     .sosmed {
        display: flex;
        gap: 1rem;
     }
     .sosmed  a { color: var(--slate-500); }
     .sosmed  a:hover { color: var(--white); }
}

@media screen and (min-width: 1024px) {
  .swiper {
     margin-top: 5rem;
  }
   .header {
       display: flex;
       justify-content: space-between;
       align-items: center;
       background-color: var(--blue);
       padding-bottom: 0;
   }
   .wrap {
       max-width: 1100px;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .left-header {
       display: flex;
   }
   .search {
       margin-top: 18px;
       margin-bottom: 15px;
   }
   .search-input {
       margin-left: 10px;
       width: 220%;
       padding: 3%;
       border: none;
       border-radius: 20px;
       background-color: var(--slate);
       color: var(--white);
   }
   .navbar {
       margin-left: 15rem;
   }
   .navbar ul {
       display: flex;
   }
   .navbar ul li a {
       display: inline-block;
       flex-direction: column;
       padding: 10px;
       min-width: 100px;
       color: var(--white);
   }
   .login-btn {
       background-image: linear-gradient(to right,var(--grape),var(--pink));
       border-radius: 5px;
   }
   .container {
       width: 100%;
       height: 100vh;
       display: flex;
       align-items: center;
       justify-content: center;
   }
   .swiper {
       width: 100%;
       height: 50vh;
   }
   .swiper-slide img {
       width: 100%;
       
   } 
   .content {
       margin-top: -5rem;
       margin-bottom: 1rem;
   }
   .content ul li {
       display: inline-flex;
       flex-direction: column;
       align-items: center;
       border-radius: 999px;
       border: 1px solid var(--slate-500);
       padding: 10px;
       margin-top: 15px;
   }
   .game__grid {
       position: relative;
       display: grid;
       grid-template-columns: repeat(4,1fr);
       gap: 1rem;
   }
   .game img {
       transform: skewX(-10deg);
   }
   .product-title {
       position: absolute;
       margin-top: -2rem;
       color: var(--white);
       background-image: linear-gradient(to right,var(--blue),var(--grape),var(--pink));
       opacity: 0.7;
       width: 18vw;
       padding: 5px;
       transform: skew(-10deg);
   }
   .mlbb-img:hover,
   .lol-img:hover,
   .ff-img:hover,
   .pubgm-img:hover,
   .codm-img:hover,
   .valo-img:hover,
   .genshin-img:hover,
   .aov-img:hover,
   .roblox-img:hover,
   .coc-img:hover,
   .growtopia-img:hover,
   .pb-img:hover,
   .honkai-img:hover,
   .aspalt-img:hover,
   .lifeafter-img:hover,
   .zepeto-img:hover,
   .iqiyi-img:hover,
   .bstasion-img:hover,
   .vidio-img:hover,
   .viu-img:hover {
      filter: blur(.6px);
   }
    footer {
       padding: 2rem;
       margin-top: 4rem;
       background-color: var(--blue);
       
    }
    .footer-title {
      margin-bottom: 1rem;
      margin-top: 2rem;
      font-weight: 600;
      border-radius: 5px;
      color: #ffffff;
      
   }
    footer ul li a{
       color: var(--white);
       
    }
    footer ul li a:hover{
       color: var(--slate-500);

    }
    .footer-two{
      margin-top: 3.9em;
    }
    .footer-title1{
      margin-bottom: 2rem;
      color: white;
    }
    .footer-three{
      margin-bottom: 0.5rem;
    }
    .payment{
       display: flex;
       gap: 0.5rem;
    }
    .payment img{
       border-radius: 5px;
       width: 100px;
    }
    .copy{
       background-color: var(--blue);
       padding: 1rem;
    }
    .copyright{
       color: var(--slate-500);
    } 
   }  
   .btn {
      border: none;
      outline: none;
      color: #FFF;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 12px;
    }
    .btn::after {
      content: "";
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 10px;
    }
    /* glow */
    .btn::before {
      content: "";
      background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
      );
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 600%;
      z-index: -1;
      width: calc(100% + 4px);
      height:  calc(100% + 4px);
      filter: blur(8px);
      animation: glowing 20s linear infinite;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
      opacity: 0;
    }
    
    @keyframes glowing {
      0% {background-position: 0 0;}
      50% {background-position: 400% 0;}
      100% {background-position: 0 0;}
    }
    
    /* hover */
    .btn:hover::before {
      opacity: 1;
    }
    
    .btn:active:after {
      background: transparent;
    }
    
    .btn:active {
      color: #000;
      font-weight: bold;
    }
   
    .btn1 {
      margin: 100px;
      padding: 15px 40px;
      border: none;
      outline: none;
      color: #FFF;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 12px;
      margin-inline-start: 43rem;
      margin-top: 0%
      
   
    }
    .btn1::after {
      content: "";
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #333;
      left: 0;
      top: 0;
      border-radius: 10px;
      background-image: linear-gradient(to right,var(--grape),var(--pink));
    }
    /* glow */
    .btn1::before {
      content: "";
      background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
      );
      position: absolute;
      top: -2px;
      left: -2px;
      background-size: 600%;
      z-index: -1;
      width: calc(100% + 4px);
      height:  calc(100% + 4px);
      filter: blur(8px);
      animation: glowing 20s linear infinite;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
      opacity: 0;
    }
    
    @keyframes glowing {
      0% {background-position: 0 0;}
      50% {background-position: 400% 0;}
      100% {background-position: 0 0;}
    }
    
    /* hover */
    .btn1:hover::before {
      opacity: 1;
    }
    
    .btn1:active:after {
      background: transparent;
    }
    
    .btn1:active {
      color: #000;
      font-weight: bold;
    
}